In [1]:
import pandas as pd

In [2]:
bechdel = pd.read_json('http://bechdeltest.com/api/v1/getAllMovies', orient = 'records')

In [3]:
bechdel.head()

     id  imdbid  rating                                   title  year
0  8040  392728       0                   Roundhay Garden Scene  1888
1  5433       3       0                          Pauvre Pierrot  1892
2  6200  132134       0  Execution of Mary, Queen of Scots, The  1895
3  5444      14       0           Tables Turned on the Gardener  1895
4  5406     131       0                       Une nuit terrible  1896

In [4]:
pd.DataFrame.to_csv(bechdel, './bechdel.csv')